## Import Packages

In [1]:
import pandas as pd

In [2]:
from scipy.stats import chi2_contingency as chi2

## Chi Square Test

### Load Dataset

In [7]:
df=pd.read_csv('blood_seroprevalence.csv')
df.sample(10)

,Indicator,Geographic Area,Geographic Identifier,Race,Sex,Age,Time Period,n (Unweighted),Estimate % (weighted),2.5%,97.5%
4980,Combined seroprevalence,Indiana,18,Overall,Male,Overall,2022 Quarter 2,610.0,94.24,85.44,97.85
11776,Combined seroprevalence,Midwest,2,Overall,Overall,16 to 29,2022 Quarter 4,643.0,98.50,96.41,99.38
8181,Neither past infection nor vaccination,Oklahoma,40,Overall,Overall,Overall,2022 Quarter 3,7.0,4.21,1.39,12.04
10556,Presumed vaccination without infection,Idaho,16,Non-Hispanic White,Overall,Overall,2022 Quarter 3,280.0,22.23,18.58,26.35
15188,Combined seroprevalence,Wyoming,56,Non-Hispanic Asian,Overall,Overall,2022 Quarter 4,2.0,100.00,34.24,100.00
2502,Overall,Montana,30,Non-Hispanic Asian,Overall,Overall,2022 Quarter 1,8.0,100.00,NaN,NaN
13319,Neither past infection nor vaccination,North Carolina,37,Overall,Overall,65 and over,2022 Quarter 4,22.0,2.50,1.68,3.70
4487,Overall,District of Columbia,11,Overall,Male,Overall,2022 Quarter 2,31.0,100.00,NaN,NaN
7280,Indeterminate,Mississippi,28,Other,Overall,Overall,2022 Quarter 2,0.0,0.00,NaN,NaN
6482,Past infection with or without vaccination,Florida,12,Non-Hispanic Asian,Overall,Overall,2022 Quarter 2,0.0,NaN,NaN,NaN

In [8]:
df.columns

Index(['Indicator', 'Geographic Area', 'Geographic Identifier', 'Race', 'Sex',
       'Age', 'Time Period', 'n (Unweighted)', 'Estimate % (weighted)', '2.5%',
       '97.5%'],
      dtype='object')

## Hypothesis

### Null Hypothesis

There is no relationship between age and COVID-19 seroprevalance ('Indicator') also known antibody development.

### Hypothesis

There is a relationship between age and COVID-19 seroprevalance ('Indicator') also known as antibody development.

In [17]:
df['Age'].value_counts()

Overall        10128
16 to 29        1266
30 to 49        1266
50 to 64        1266
65 and over     1266
Name: Age, dtype: int64

In [18]:
df['Indicator'].value_counts()

Overall                                       2532
Past infection with or without vaccination    2532
Presumed vaccination without infection        2532
Neither past infection nor vaccination        2532
Indeterminate                                 2532
Combined seroprevalence                       2532
Name: Indicator, dtype: int64

In [20]:
contingency_table=pd.crosstab (df['Age'],df['Indicator'])
print(contingency_table)

Indicator    Combined seroprevalence  Indeterminate  \
Age
16 to 29                         211            211
30 to 49                         211            211
50 to 64                         211            211
65 and over                      211            211
Overall                         1688           1688

Indicator    Neither past infection nor vaccination  Overall  \
Age
16 to 29                                        211      211
30 to 49                                        211      211
50 to 64                                        211      211
65 and over                                     211      211
Overall                                        1688     1688

Indicator    Past infection with or without vaccination  \
Age
16 to 29                                            211
30 to 49                                            211
50 to 64                                            211
65 and over                                         211
Overall                                            1688

Indicator    Presumed vaccination without infection
Age
16 to 29                                        211
30 to 49                                        211
50 to 64                                        211
65 and over                                     211
Overall                                        1688

In [22]:
chi2, p, _, _ = chi2(contingency_table)
print(f"Chi2 value: {chi2}")
print(f"P-value: {p}")

Chi2 value: 0.0
P-value: 1.0

##Interpretation

The P-value is greater than 0.05, therefore is not significant and supports the null hypothesis that there is no relationship between the two variables COVID-19 seroprevalance ('Indicator') abd 'Age'.

The Chi2 value of 0.0 indicates that the null hypothesis is true and there is no relationship between 'Age' and COVID-19 seroprevalance ('Indicator').

##T-Test Number 1

In [2]:
from scipy.stats import ttest_ind

In [80]:
df2 = pd.read_csv('cryptosporidiosis.csv')
df2.sample(10)

,Year,Race/Ethnicity,Citywide number (rate),Manhattan number (rate),Bronx number (rate),Brooklyn number (rate),Queens number (rate),Staten Island number (rate)
142,2019,"American Indian, non-Hispanic",0,0,0,0,0,0
157,2021,"Black, non-Hispanic",48 (2.7),12 (6.0),23 (5.6),10 (1.3),2 (0.5),1 (2.2)
14,2002,Total,148 (1.8),71 (4.6),27 (2.0),34 (1.4),14 (0.6),2 (0.5)
119,2017,Hispanic,43 (1.7),14 (3.3),14 (1.7),4 (0.8),10 (1.5),1 (1.1)
63,2010,Total,107 (1.3),43 (2.6),25 (1.8),28 (1.1),10 (0.4),1 (0.2)
130,2018,"Black, non-Hispanic",24 (1.3),6 (2.9),7 (1.6),9 (1.1),1 (0.2),1 (2.2)
96,2014,"Pacific Islander, Native Hawaiian, non-Hispanic",0,0,0,0,0,0
64,2011,Hispanic,26 (1.1),5 (1.2),12 (1.6),6 (1.2),3 (0.5),0
113,2016,"Asian, non-Hispanic",15 (1.2),3 (1.5),2 (3.4),5 (1.6),4 (0.7),1 (2.5)
24,2004,Total,138 (1.7),52 (3.4),34 (2.6),33 (1.3),16 (0.7),3 (0.7)

In [81]:
df2.columns

Index(['Year', 'Race/Ethnicity', 'Citywide        number (rate)',
       'Manhattan                   number (rate)',
       'Bronx                   number (rate)',
       'Brooklyn            number (rate)',
       'Queens               number (rate)',
       'Staten Island                  number  (rate)'],
      dtype='object')

## Hypothesis

There is a difference between the average number of residents with Cryptosporidiosis in Manhattan and Brooklyn

## Null Hypothesis

There is no difference between the average number of residents with Cryptosporidiosis in Manhattan and Brooklyn

In [82]:
df2['Race/Ethnicity'].value_counts()

Hispanic                                                                     22
White, non-Hispanic                                                          22
Black, non-Hispanic                                                          22
Total                                                                        22
Unknown                                                                      17
Two or more races, non-Hispanic                                              13
Asian, non-Hispanic                                                          11
American Indian, non-Hispanic                                                11
Pacific Islander, Native Hawaiian, non-Hispanic                               9
Asian, Pacific Islander, American Indian,    Alaska Native, non-Hispanic      7
Other, non-Hispanic                                                           3
Asian, Pacific Islander, American Indian,     Alaska Native, non-Hispanic     3
Pacific Islander, Native Hawaiian,  non-Hispanic                              2
Name: Race/Ethnicity, dtype: int64

In [86]:
df2['Manhattan                   number (rate)'].value_counts()

0            31
3             4
15 (3.6)      4
12 (5.1)      4
3 (1.5)       3
             ..
6 (2.7)       1
14 (1.7)      1
8 (2.0)       1
46 (2.9)      1
123 (7.6)     1
Name: Manhattan                   number (rate), Length: 112, dtype: int64

In [102]:
manhattan_rate=df2['Manhattan                   number (rate)'].apply(lambda x: x.split(" ")[0] if " " in x else x)
manhattan_rate

0       20
1       40
2       21
3        3
4       84
      ...
159      0
160      0
161      3
162     12
163    123
Name: Manhattan                   number (rate), Length: 164, dtype: object

In [103]:
manhattan_rate = pd.to_numeric(manhattan_rate)

In [104]:
df2['Brooklyn            number (rate)'].value_counts()

0           39
1            7
3 (0.6)      5
7 (0.8)      5
6 (1.2)      4
            ..
6 (0.8)      1
20 (0.8)     1
9 (1.0)      1
4            1
50 (2.0)     1
Name: Brooklyn            number (rate), Length: 84, dtype: int64

In [105]:
brooklyn_rate=df2['Brooklyn            number (rate)'].apply(lambda x: x.split(" ")[0] if " " in x else x)
brooklyn_rate

0       8
1      11
2      14
3       2
4      35
       ..
159     0
160     0
161     1
162     7
163    50
Name: Brooklyn            number (rate), Length: 164, dtype: object

In [106]:
brooklyn_rate = pd.to_numeric(brooklyn_rate)

In [107]:
t_stat, p_value = ttest_ind(manhattan_rate, brooklyn_rate)

In [108]:
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_val}")

T-statistic: 3.2587513953716574
P-value: 1.0

## Interpretation

1. The high T-statitic suggests there is a difference between the residents suffering cryptosporidiosis from in brooklyn and manhattan.  
2. The P-value is greather than 0.05, therefore it is not statistically significant and the null hypothesis is supported.

## T-Test Number 2

In [113]:
from scipy.stats import ttest_ind
import numpy as np
from scipy import stats

In [114]:
df3 = pd.read_csv('nyc_deaths.csv')
df3.sample(10)

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
1129,2018,"Accidents Except Drug Poisoning (V01-X39, X43,...",M,Non-Hispanic Black,129,15.392,15.436
627,2014,"Intentional Self-Harm (Suicide: X60-X84, Y87.0)",F,Other Race/ Ethnicity,5,.,.
115,2007,Aortic Aneurysm and Dissection (I71),F,Not Stated/Unknown,.,.,.
1421,2015,Essential Hypertension and Renal Diseases (I10...,Female,Non-Hispanic White,226,15.990015438,8.5882947134
52,2009,Certain Conditions originating in the Perinata...,M,Other Race/ Ethnicity,.,.,.
1115,2018,Influenza (Flu) and Pneumonia (J09-J18),F,Asian and Pacific Islander,79,12.163,10.757
1594,2016,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",Female,Other Race/ Ethnicity,1,NaN,NaN
194,2012,Chronic Lower Respiratory Diseases (J40-J47),M,White Non-Hispanic,352,26.3,21.8
656,2012,Chronic Lower Respiratory Diseases (J40-J47),F,Black Non-Hispanic,204,19.5,16.9
1694,2017,Chronic Lower Respiratory Diseases (J40-J47),Female,Non-Hispanic Black,251,24.108629064,18.593854366

In [115]:
df3.columns

Index(['Year', 'Leading Cause', 'Sex', 'Race Ethnicity', 'Deaths',
       'Death Rate', 'Age Adjusted Death Rate'],
      dtype='object')

In [116]:
df3['Sex'].value_counts()

F         622
M         609
Female    288
Male      284
Name: Sex, dtype: int64

In [117]:
df3['Deaths'].value_counts()

.       138
1        61
5        32
6        29
8        28
       ...
1536      1
531       1
2243      1
1082      1
2167      1
Name: Deaths, Length: 633, dtype: int64

### Hypothesis

There is a difference between the number of female deaths and male deaths in NYC.

### Null Hypothesis

There is no difference between the number of  female deaths and male deaths in NYC.

In [10]:
df3.dropna(subset=['Sex','Deaths'],inplace=True)
df3

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2011,Chronic Lower Respiratory Diseases (J40-J47),M,White Non-Hispanic,444,33.3,27.8
1,2008,Malignant Neoplasms (Cancer: C00-C97),M,White Non-Hispanic,3361,250.4,214.3
2,2010,"Chronic Liver Disease and Cirrhosis (K70, K73)",M,Hispanic,150,13.1,17.6
3,2014,Malignant Neoplasms (Cancer: C00-C97),M,Hispanic,1146,96,143.5
4,2014,Certain Conditions originating in the Perinata...,M,Not Stated/Unknown,25,.,.
...,...,...,...,...,...,...,...
1798,2017,"Chronic Liver Disease and Cirrhosis (K70, K73-...",Male,Other Race/ Ethnicity,2,NaN,NaN
1799,2017,Aortic Aneurysm and Dissection (I71),Male,Other Race/ Ethnicity,2,NaN,NaN
1800,2017,Alzheimer's Disease (G30),Male,Other Race/ Ethnicity,2,NaN,NaN
1801,2017,Septicemia (A40-A41),Male,Other Race/ Ethnicity,2,NaN,NaN
1802,2017,All Other Causes,Male,Other Race/ Ethnicity,16,NaN,NaN

In [11]:
df3['sex_female'] = df3['Sex'].apply(lambda x: 'sex_female' if x in ['F',
        'Female'] else 'sex_male')

In [29]:
sex_female_dataset = df3[df3['sex_female'] == 'sex_female']['Deaths']
dff=sex_female_dataset
sex_female_dataset

5        80
6        42
11      245
12      102
14       27
       ...
1732      1
1733      1
1734      1
1735      1
1736      9
Name: Deaths, Length: 910, dtype: object

In [34]:
sex_female_dataset = [int(value) if value.replace('.', '').isdigit() else 0 for value in sex_female_dataset]

In [35]:
pd.to_numeric(sex_female_dataset)

array([  80,   42,  245,  102,   27,    0,   11,  136,  227,   60,  162,
          0, 2194,  344,    0,   14,  281, 1348,    0,  416,   71,  219,
         70,   78,    0,   10,    0,   18, 2282,   56,    5,  156,    0,
        216,  177,   88,    5,   83,   51, 2140,    0,    6,    0,  390,
         57,   10,    0,    0,   39,    0,    5,  507,   79, 1852,   18,
        271,  106,   11,    7,   49,   22,  208,  258,  209,    0,    0,
          0,    0,   51,   39,   24, 1473,   86,   14,  154, 1800,   89,
         10,    5,   60,   12, 3366,  206,    0,   70,    6,    0,    0,
        409,   51,    9,  231,  521,  209,    5,  295, 6297,    6,   59,
         11, 1326,   11,    6,   89,    0,  621,  169,  109,  107,  266,
        418,   57,    7,    0,   65, 2722,  238,    0,    0,  199,    0,
        218,   13, 4535,    0,    5,    0,   27,   43,  123,  510,    9,
        116,    0,  207,   35,    8,  214,   43,   56,  196,   29,   16,
        285,  278,  158,  155, 1784,  402,  215, 2725,    0,   89,    7,
          0,    9,  279,  707,   19,    0,   35,  518,    0,  563,  379,
         28,   17,   32,    0,  696,  106,  182,  115,   88,   18, 3153,
         70,   74,    0,  152,  339, 4719,   50,   25,    8, 5016,   39,
          0,  113,  220,   27,    0, 1483,   34,  169,  267,  576, 1045,
         79,    6, 1316,   98, 3256,  382,  467,   34,    0, 1125,    8,
         30, 7050,  156, 2445,    0,    5,    0,  258, 3346,   29, 1268,
         33,  461,   30,    0, 3187,    5,   70,   64,   79,   11, 1135,
         87,    0,    0,    0,    0, 6836,  372,    0,  168,   21,    8,
         68,  225, 1261,  320,    0, 1768,    0,  410,    6,  126,  458,
       1918,   83,   15,  205,   94,  969,  206,    0,   31, 1557, 1445,
         93,    6,    6,   41, 2444,   48, 1025,    0,   56,  144,  414,
         14,  180,  629, 1085, 4507,   22,  227,  222,  240,  101,  228,
       2595,   36,  113, 1305,   53,    0,   41,    0,  295,   37,  104,
       1680,  395,    0,   40,  273,   47,  219,  276,  448,  384,    0,
         78,   80,    8,  384,   26,    0, 1082, 2243,    5,    0,  166,
       1536,  218, 1007,  885,  501, 1154,   83,    0,    0,  398,    0,
        164,  380,  275,  428,  204,    0, 2269,  271, 1756,  184,   50,
         71,  220,    0,   28,   36,  358, 1912,  108,  318,   66,  190,
         95,  437,   38,    0,    0, 1684,   17,    0,  622,    6,   96,
          0, 1349,    0,   43,  659,    5, 1706,    0,   75,   13,  107,
         48,    7,  775,  394,  191,    0,   76,  118,    0,    5,    0,
         84,    0,   61,   43,  155,    9,  163,  222,   30,  402,   95,
        188,  135,    0,   21,    0,    0,   46,  192, 1097,   66,   54,
          0,  151,    0,  327,  228, 1735,  193,   26,   34,   15, 1149,
         22,  204,    0,   14,  221,  238, 3438,  259, 2535,   73,  229,
       1109,    8,   71,  116,    0,  214, 1418, 1046,    5,   63,  515,
        107,    0,   13,    5,    0,   42,  111,    0,   75, 3371,  451,
         58,  456,   90,   29,  240,   33,   26,   55,   68,   29,   18,
          6,    0,  247,   36,  179,   82,   50,    9,    0, 1230,  151,
        274,  215,   50,  166,  227,  205,  472,   90,   74,   36,   19,
         17,   76, 2365,  820,  102,   63,    9,  252,    0,    6,   22,
        398,  253,    0,   90,  142, 2578,  120,   58, 3518,    0,  462,
         22,   12,    8,    0,   86,  156,  112,  199,   33,  152,  228,
         15,  263,  248,  220,  200,    0,   83,   14,  281,    0,   32,
        502,   60,  427,    5,  466,    6,  168,  410,    0, 5351,    0,
        210,   87, 1230,  163,    8,  178,  221,  103,    0,    7, 1263,
        193,   15,  231,    0,   28,   33,   71,   40,    6,    6,    6,
          7,   80,  107,  120,   61,   66,   10,  152,   79,  123,   11,
        177,  180,   85,   12,   13,  160,  211,  114,  225,  253,  236,
        243,  244,  244,  257,  369,  276,  391,  403,  299,  477,  407,
        428,   59,   68,  590, 1157, 1182,  610, 1493, 1541,  145, 2354,
       1858, 2949, 2552, 4248,   55,   32,   10,    9,    9,    8,    3,
          3,    2,    2,    2,    2,   35,  345, 1574, 1182,  249,  231,
        214,  178,  156,  151,  104,   98, 1279,  623,  581,  110,   78,
         67,   66,   50,   40,   40,   40,  402, 4001, 2655,  480,  390,
        341,  307,  228,  197,  167,  125, 2265, 2483, 1753,  383,  315,
        290,  242,  227,  171,  120,   96, 1579,   30,   17,    5,    3,
          2,    2,    2,    2,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,    1,   17,  149,   96,   29,   20,   15,   13,
         12,   10,    8,    8,  107,  515,  498,   95,   89,   71,   50,
         41,   36,   34,   30, 1361, 1193,  208,  197,  196,  183,  176,
         98,   78,   65, 1184, 2344, 1872,  392,  307,  261,  232,  223,
        147,   92,   79, 1599, 4494, 3130,  521,  503,  422,  378,  239,
        226,  191,  127, 2489,  137,   92,   25,   16,   15,   15,   14,
         14,   11,    8,   92,   22,   12,    4,    3,    3,    1,    1,
          1,    1,    1,    1,    1,    1,   13,  204,  565,  530,  118,
         92,   73,   58,   49,   43,   39,   29,  385, 1485, 1162,  231,
        203,  195,  168,  131,   90,   59, 1147, 2303, 1864,  399,  276,
        226,  218,  212,  158,  101,   91, 1585, 4306, 3102,  471,  450,
        404,  361,  219,  183,  156,  138, 2416,  126,   81,   24,   18,
         18,   16,   15,   13,    9,    7,    7,  105,   30,    8,    4,
          3,    3,    2,    1,    1,    1,    1,    1,    1,    1,    1,
          1,    1,    1,   13,  247,  609,  583,   92,   78,   73,   69,
         60,   38,   36,   24,  366, 1437, 1205,  222,  190,  187,  183,
        131,   86,   83, 1157, 2486, 1775,  389,  326,  277,  251,  238,
        159,  118,   77, 1438, 4279, 2983,  502,  418,  404,  378,  231,
        192,  164,  119, 2349,  142,   80,   15,   12,   11,   11,   10,
          9,    6,    5,   99,   16,   13,    3,    2,    2,    2,    2,
          1,    1,    1,    1,    1,    1,    1,    9])

In [37]:
sex_male_dataset = df3[df3['sex_female'] == 'sex_male']['Deaths']
sex_male_dataset

0        444
1       3361
2        150
3       1146
4         25
        ...
1798       2
1799       2
1800       2
1801       2
1802      16
Name: Deaths, Length: 893, dtype: object

In [39]:
sex_male_dataset = [int(value) if value.replace('.', '').isdigit() else 0 for value in sex_male_dataset]

In [40]:
pd.to_numeric(sex_male_dataset)

array([ 444, 3361,  150, 1146,   25,  159,  142,  149,    6,  169,   74,
        129,   42,   92,  137,  227,  299,    6,    0,  205,    6,   60,
        138,  266,  146,    6,    7,  200,   21,    0,   11, 3408,  377,
         72,    5,  187,    8,  204, 2316,  197, 2077,   27,  172,  204,
         94,  546,  290,  235,   30, 3142,    0,   18,  132,  149,    8,
        308, 1163,  187,   37,   39,  164, 1180,   55,  526,  213,    7,
          5,   38,  186,    0,  201,  502,  646,    6,   95,    0,  176,
        469,  115,  186,  218, 2034,  180, 2165, 1207,  347, 4495, 4085,
         17, 2275,   14,    5,    0,  352,  186,  478,   12, 1940, 1958,
         86,   43,  148,  276,    0,  107,  618,  200,  194,  265, 2068,
        528,  111,    0,  395,   76,   42,   51,  202, 1464,  206,  235,
          5,   10,  148,    8,  633,  195,  119,   10,   27,  207,  220,
         34,    5,   10,  170,   13,  189,    7,  167,   55,   15,  258,
        340,   16,    9,    0,  272,   73,  657,  124,   11,    8,  388,
        196,    0,  143,  187,    9,  333,  191,  222,   67,   61,   31,
         24,   62,    0,   12,  506,    5, 1069,  153,  131,   78, 2015,
         54,   14, 1144,    9,    0,  297,  162,  243,  173,  554,  114,
          0,   52, 1013,  452,  132,  156,  191,   60,    0,    9,  285,
         45,   72,    7,  188,   11,   17,    8,    0, 4156,  134,  140,
        555,    0,   63,  211,  165, 1382,   29, 1557, 1327,  178,   10,
          0, 1195,    5,    5,   10,   24,   14,   53,   14,    0,  192,
         50,  122, 1146,   91,    0,  271,   71,  149, 1563,  170,    0,
        529,  277,   47,  123, 3990,  177,  261,   71,   96,    8,   43,
        221, 3132,   84,    6,    0,  307,    6,   30,   53,    0,  153,
         53,  183,   31,    0,  223, 1824,    5,  292,   18,    0,    0,
          8,   11,   56,  399,   32,  267,   36, 3356,  285, 4220,    7,
         10,   12,   24,   61, 1216,   18,  314,  286,   70,  258,   25,
        135,  191,  143,    8,    0,  622,   68,  200,   47,   14,  221,
         17,  154,    0,  554,  531,    8,   18,    0,  163,  171, 1532,
        265,    5,  530,    8,   35,  277,    0,   48,   73,  272,  245,
         90,  105,    0, 1199,  154,   38,   10,    0, 1307,    0,  274,
       1840,  237,  142,   10,  102,  245,  175,   76,   94, 1868,  191,
          0,   16,   15,    0,   33,  371,   46,  137, 5632,    0,  297,
        158,   25,  550,    0,    7,  209,   46,    5,   92,   14,   11,
       2121,  246,    6,  143,  196,    5,   19,  204,  242,  184,    8,
        329, 1201, 1246,  186, 1749,  134, 3236, 1230,  473,   46, 1592,
         48,  424,   36,  158,   28,  290, 1126,    0, 1320, 1337, 1375,
        154,   55,    0,   96,  242,    8,   11,  177,   10, 1330,  148,
         99,  286,    8, 1167,    0,  151, 1193,    0,  145,  191,  255,
        147,  496,  174,  182,   56,   19,   29,  183,  300,    0,    0,
         25,   13,    0,   25,  345, 1341,   99,  108,   39,  126,  172,
        132, 3222, 1251, 1281,  286,   20,    7,  152, 1354,  254,    7,
         64,  165,  227,    5,  272,  249,   52,    0,   10,   49,   36,
        318,   17,    5, 1540,    7,   63,   10,  614,   39,   41,   79,
        356, 2293,   12,    8,  279,   50,  189, 1590,   58,  189, 3184,
          0,  103,   66,    0,  988,  267,   26,  184, 1818, 5168,  145,
        308,  147,    6,  437,   83,  222,  139,  540, 1067,  199, 5503,
          7,  229,  238,   13,   32,  271,    0,  147,  155, 1057,   40,
        246,   33,   70, 1080,  199, 1523,  123,   10,  279,  145,  233,
        292,   30,   30,   30,   46,  110,   57,  146,  157,   78,  177,
         84,  171,  129,  208,   13,   13,  193,   99,  200,  102,   14,
        152,  244,  117,  236,   16,  173,  176,   17,  296,   18,  307,
        217,   22,  364,  240,   23,  413,  271,  392,  436,   28,  357,
        437, 1230, 1305,  700,   96,  711, 1480,  105, 2253, 1485, 1538,
        169, 2834, 2250, 3959,   82,   36,   13,   11,    9,    8,    7,
          6,    6,    6,   55, 1603, 1163,  423,  245,  182,  182,  174,
        171,  170,  135, 1396,  731,  670,  104,   92,   80,   76,   56,
         52,   48,   41,  551, 4034, 2785,  418,  373,  342,  272,  266,
        248,  194,  181, 2366, 2315, 1421,  377,  294,  228,  211,  210,
        185,  156,  150, 1507,   19,   15,    6,    5,    3,    3,    2,
          2,    2,    1,    1,    1,    1,    1,    1,    1,    1,    1,
          1,   10,  259,  107,   43,   26,   22,   20,   19,   18,   18,
         18,  168,  668,  610,  108,   90,   85,   76,   64,   50,   39,
         30,  454, 1410, 1175,  261,  225,  196,  178,  178,  166,  153,
        105, 1196, 2033, 1523,  345,  225,  206,  196,  185,  177,  167,
        155, 1418, 4015, 3020,  449,  364,  342,  316,  287,  246,  181,
        170,  170, 2288,  174,   94,   25,   21,   19,   18,   17,   16,
         16,   11,  127,   26,   15,    4,    3,    3,    3,    2,    2,
          1,    1,    1,    1,    1,    1,    1,    7,  683,  603,  113,
         95,   76,   75,   60,   48,   37,   32,  449, 1418, 1224,  369,
        217,  191,  177,  170,  146,  146,   99, 1233, 2106, 1611,  313,
        258,  258,  220,  183,  168,  161,  153, 1375, 4054, 3090,  482,
        461,  332,  317,  252,  244,  176,  151, 2381,  179,  119,   23,
         22,   20,   18,   18,   17,   16,   14,  158,   19,   11,    3,
          3,    2,    2,    2,    2,    1,    1,    1,    1,    1,    1,
          1,   10,  770,  684,   97,   93,   93,   77,   76,   46,   38,
         29,  493, 1427, 1192,  394,  235,  191,  190,  183,  158,  140,
        124, 1275, 2143, 1508,  347,  309,  242,  229,  186,  165,  138,
        133, 1413, 4082, 3017,  451,  409,  374,  290,  266,  238,  194,
        172, 2167,  193,  120,   29,   23,   20,   19,   17,   16,   14,
         13,  137,   21,   15,    5,    4,    3,    3,    2,    2,    2,
          2,   16])

In [51]:
t_stat, p_val = stats.ttest_ind(sex_female_dataset, sex_male_dataset, equal_var=False)

In [52]:
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_val}")

T-statistic: 0.0
P-value: 1.0

## Interpretation

1. Given the T-statstic of 0.0 it can be concluded that the null hypothesis is true.

2. Given the P-value is greater than 0.05, it is not statistically significant and supports the null hypothesis. Though the null hypothesis is not rejected, it does not mean that the hypothesis is true.

In conclusion the null hypothesis was proven to be true based off of the calculated T-statistic and P-value.